* {
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.google.com/specimen/Poppins?query=poppins");
  color: yellow;
  text-shadow: #FC0 1px 0 5px;
}

body {
  height: 100vh;
  background-image: url('/src/images/background-space.jpg');
  background-size: cover;
}

header {
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main {
  height: 80vh;
  display: flex;
}

.user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 95%;
}

h1 {
  font-family: "Neonderthaw", sans-serif;
  src: url("https://fonts.google.com/specimen/Neonderthaw?query=neon");
  font-size: 3vw;
  margin-bottom: 1em;
}

h2 {
  margin-bottom: 0;
  font-size: 2vw;
}

p {
  font-size: 1.3vw;
  line-height: .7em;
}

#steps-stride {
  text-align: right;
  padding-right: 15px;
}

#address-email {
  padding-left: 15px;
}

#steps-stride,
#address-email {
  font-size: 1.25vw;
  line-height: .7em;
}

.widgets {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friend-hydro {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3%;
  margin-left: 5%
}

.sleep {
  margin-left: 5%;
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.friends ,
.averages {
  width: 48%;
  height: 35vh;
  text-align: center;
}

.hydration,
.hours,
.quality,
.friends ,
.averages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hydration,
.hours,
.quality {
  width: 31%;
}

.celeb {
  width: 30%;
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-top: 3%;
}

.avg-steps {
  text-align: center;
  width: fit-content;
  margin: 10px;
  padding: .5em;
  padding-right: 1em;
  padding-left: 1em;
  font-size: 2vw;
}

.friends,
.hydration,
.user-profile,
.averages,
.hours,
.quality {
  background-color: rgba(0, 221, 255, 0.15);
  border-radius: 15px;
  box-shadow: 0px 0px 20px 1px rgb(255, 0, 221);
}

img {
  margin-top: 5%;
  height: 70vh;
  /* width: 60vw; */
}

.chart {
  width: 60%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* border: 1px solid pink; */

  /* box-shadow: 0px 0px 20px 1px rgb(234, 255, 0); */
}

.bar {
  display: inline-block;
  width: 5vh;
  background-color: yellow;
  margin-right: 5px;
  box-shadow: 0px 0px 20px 1px rgb(234, 255, 0);
}