* {
  font-family: 'Poppins', sans-serif;
  color: yellow;
  text-shadow: #FC0 1px 0 5px;
}

body {
  height: 100vh;
  background-image: url('/src/images/background-space.jpg');
  background-size: cover
}

header {
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main {
  height: 80vh;
  display: flex;
}

.user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 95%;
}

h1 {
  font-family: 'Honk', system-ui;
  font-size: 5vw;
  margin-bottom: 1em;
}

h2 {
  margin-bottom: 0;
  font-size: 2vw;
}

h3 {
  font-size: 1.5vw;
  text-align: center;
  width: 80vh;
}

p {
  font-size: 1.2vw;
  line-height: .7em;
}

#email,
#address {
  font-size: 1.25vw;
  line-height: .8em;
}

#address {
  margin-left: 3%; 
}

#email {
  margin-right: 3%
}

.widget-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.friend-avg-steps {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3%;
  margin-left: 5%
}

.week-info {
  margin-left: 5%;
  height: 32vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.friends,
.averages,
.steps {
  width: 45%;
  height: 32vh;
  text-align: center;
}

.friends,
.steps {
  width: 24%;
}

.top {
  margin-top: 10px;
  top: 28%;
  position: absolute; 
}

.hydration,
.hours,
.quality,
.friends,
.steps,
.averages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.hydration,
.hours,
.quality {
  width: 31%;
  line-height: 1.2em; 
}

.celeb {
  width: 30%;
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-top: 3%;
}

.friends,
.hydration,
.user-profile,
.averages,
.hours,
.steps,
.quality {
  background-color: rgba(8, 0, 47, 0.674);
  border-radius: 15px;
  border: solid #FF40AF 2px;
  box-shadow: 0px 0px 20px 1px #FF40AF;
}

.averages {
  box-shadow: 0px 0px 20px 1px #FFFF7D;
  border: solid #FFFF7D 4px;
  line-height: 1em; 
}

.week {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 15px;
}

#avg-title {
  font-size: 3.2vw;
  margin-top: 0;
  padding-bottom: 25px; 
}

#avgs {
  font-size: 1.6vw;
}

#steps,
#friends {
  max-width: 100%;
  top: 30%;
  width: 25vh;
  line-height: 1.2em; 
  font-size: .9em; 
  height: 20vh; 
  margin-top: 9vh; 
  overflow: hidden; 
}

img {
  margin-top: 5%;
  height: 78vh;
  margin-right: 15px; 
}

button {
  border-radius: 50%; 
  position: absolute; 
  height: 80px; 
  width: 80px; 
  border: solid #FF40AF 3px;
  box-shadow: 0px 0px 20px 1px #FF40AF;
  margin-left: 275px;
  margin-top: 30px; 
  background-color: rgba(0, 221, 255, 0.15);
  cursor: pointer; 
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: bolder; 
}

.today-span {
  color: #00EAE0;
  font-weight: bolder; 
}

.hidden {
  display: none;
}

.mode {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
  margin-top:0;
  cursor: pointer;
}

.mode:hover {
  text-decoration: underline;
}

.graph-icon {
  height: 3vh;
  margin-top: 1.5vh;
  padding-left: 2vh;
}

figure {
  width: 60%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1vh;
  height: 100%;
  margin-right: 5px;
}

.bar-container {
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 4px;
  width: 100%;
  height: 20vh;
}

.bar {
  display: inline-block;
  width: 100%;
  background-color: yellow;
  box-shadow: 0px 0px 20px 1px rgb(234, 255, 0);
}

.day-label {
  font-size: .7em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}