* {
  font-family: 'Poppins', sans-serif;
  color: yellow;
  text-shadow: #FC0 1px 0 5px;
}

body {
  height: 100vh;
  background-image: url('/src/images/background-space.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}

header,
.error-display {
  height: 10vh;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 95%;
  margin-left: 2%;
  margin-right: 2%;
  /* position: absolute;
  top: 2% */
}

header,
.today-form,
.party-avg-steps {
  margin-bottom: 1%;
}



p {
  padding-top: 1px;
  font-size: 1.6vw;
  line-height: .7em;
  max-width: 100%;
  top: 30%;
  width: 25vh;
}

#email,
#address {
  font-size: 1.25vw;
  line-height: 1.3em;
}

h1 {
  font-family: 'Honk', system-ui;
  font-size: 5vw;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  height: 70%; 
  width: 100%; 
}

main {
  height: 80vh;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}

h2 {
  margin-bottom: 0;
  font-size: 2vw;
}

h3 {
  font-size: 1.7vw;
  text-align: center;
  width: 100%;
  margin-top: 0;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.friend-header,
.steps-header {
  margin-top: 10px;
  top: 28%;
  font-size: 2.7vw;
}

#friends {
  font-size: 1.8vw;
  line-height: 1.3vw;
}

#steps {
  line-height: 1.2em;
  font-size: 1.5vw;
  margin-bottom: 5%;
}

.party-avg-steps {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2%;
}

.week-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.party-widget,
.steps-widget {
  width: 24%;
}

.averages-widget {
  box-shadow: 0px 0px 20px 1px #FFFF7D;
  animation: 3s ease-in-out infinite alternate shadow-fade-yellow;
  border: solid #FFFF7D 4px;
  line-height: 1em; 
  width: 45%;
}

#avg-title {
  font-size: 3.2vw;
  margin-top: 0;
  padding-bottom: 25px; 
}

#avgs {
  font-size: 2.3vw;
  width: 80%;
  margin-bottom: 0;
  margin-top: 1%;
}

#hy-title,
#ho-title,
#q-title {
  margin-top: 0;
}

.hydration,
.hours,
.quality {
  width: 31%;
  line-height: 1.2em;
  position: relative;
  margin-bottom: 2%;
}

.averages-widget  {
  background-color: rgba(8, 0, 47, 0.674);
  border-radius: 15px;
}

header,
.party-widget,
.hydration,
.user-profile,
.hours,
.steps-widget,
.quality {
  border: solid #ff40af 3px;
  background-color: rgba(8, 0, 47, 0.674);
  border-radius: 15px;
}

header {
  box-shadow: 0px 0px 20px 1px #ff40af69;
  animation: 3s ease-in-out infinite alternate shadow-fade-pink;
}

.party-widget {
  box-shadow: 0px 0px 20px 1px #ff40af69;
  animation: 3s ease-in-out 5s infinite alternate shadow-fade-pink;
}

.party-background {
  background-image: url('/src/images/new-opacity-30.png');
  background-size: cover;
}
  
.hydration {
  box-shadow: 0px 0px 20px 1px #ff40af69;
  animation: 3s ease-in-out 2s infinite alternate shadow-fade-pink;
}

.user-profile {
  box-shadow: 0px 0px 20px 1px #ff40af69;
  animation: 3s ease-in-out 7s infinite alternate shadow-fade-pink;
}

.hours {
  box-shadow: 0px 0px 20px 1px #ff40af69;
  animation: 3s ease-in-out 4s infinite alternate shadow-fade-pink;
}

.steps-widget {
  box-shadow: 0px 0px 20px 1px #ff40af69;
  animation: 3s ease-in-out 3s infinite alternate shadow-fade-pink;
}

.quality {
  box-shadow: 0px 0px 20px 1px #ff40af69;
  animation: 3s ease-in-out 6s infinite alternate shadow-fade-pink;
}

@keyframes shadow-fade-pink {
  0% {
    box-shadow: 0px 0px 20px 1px #ff40af69;
  }
  50% {
    box-shadow: 0px 0px 20px 1px #ff40afb3;
  }
  100% {
    box-shadow: 0px 0px 20px 1px #ff40af;
  }
}

@keyframes shadow-fade-yellow {
  0% {
    box-shadow: 0px 0px 20px 1px #FFFF7D;
  }
  50% {
    box-shadow: 0px 0px 20px 1px #ffff7db0;
  }
  100% {
    box-shadow: 0px 0px 20px 1px #ffff7d68;
  }
}

.week {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 15px;
}

.today-span {
  color: white;
  font-weight: bolder; 
}

.mode {
  height: 1.75vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
  top: 0;
}

.graph-icon {
  height: 3vh;
  margin-top: 1vh;
  margin-right: 2vh;
  padding-left: 2vh;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#hydro-chart-container,
#hours-chart-container,
#quality-chart-container {
  width: 80%;
  height: 100%;
  margin-left: -6%;
  margin-bottom: 2%;
}

.step-party-button {
  width: 75%;
  cursor: pointer;
}

@keyframes wiggle {
  10% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  40%{
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(5deg);
  }
}

.step-party-button:hover {
  width: 80%;
  animation: .05s ease-in-out button-expand;
  animation: .35s linear .05s wiggle;
}

.friend-selectors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hydro-field,
.quality-field,
.hours-field {
  margin-right: 1.2em; 
  height: 70%; 
}

label {
  margin-right: .5em;
  font-size: 1.3vw;
}

.form-style {
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.hydro-field,
.quality-field,
.hours-field {
  text-align: center; 
  background-color: lightskyblue;
  color: black; 
  font-weight: 500; 
  height: 70%; 
  width: 12%;
  font-size: 90%;
}

.quality-field {
  margin-right: 2em; 
}

.today-form {
  background-color: rgba(8, 0, 47, 0.674);
  height: 6%;
  width: 100%;
  box-shadow: 0px 0px 20px 1px #FFFF7D;
  animation: 3s ease-in-out infinite alternate 5s shadow-fade-yellow;
  border: solid #FFFF7D 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px; 
  font-size: 80%;
}

input, button {
  color: black; 
}

.submit-button {
  border: solid #ff40af 3px;
  box-shadow: 0px 0px 30px 1px #ff40af;
  cursor: pointer; 
  background-color: lightyellow;
  height: 90%; 
  border-radius: 14px; 
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#party-chart-container {
  width: 100%;
  height: 100%;
}

aside {
  width: 60%;
  text-align: center;
  font-size: 1rem;
}

aside > img {
  border-radius: 100%;
  border: solid #eded00 2px;
  margin-top: 20px;
  width: 30%;
}

aside > p {
  width: auto;
    &:last-child {
      margin-bottom: 3px;
    }
}

aside > h2,
h3,
p {
  margin: 0;
}

#friends-list {
  margin-bottom: 20px;
}

#user-profile-button {
  /* width: 75px; */
  width: 4%;
  margin-right: 10px;
  margin-left: -60px;
    &:hover {
      cursor: pointer;
      animation: ease-in-out .35s .05s wiggle;
    }
}

.fade-out {
  animation: fadeOut 1.5s; 
}

@keyframes fadeOut {
  from {
    opacity: 1; 
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 1.5s; 
  text-align: center;
  font-weight: 400; 
  font-style: italic; 
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}
