* {
  font-family: 'Poppins', sans-serif;
  color: yellow;
  text-shadow: #FC0 1px 0 5px;
}

body {
  height: 100vh;
  background-image: url('/src/images/background-space.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

header,
.error-display {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-left: 2%;
  margin-right: 2%;
  /* position: absolute;
  top: 2% */
}

input, button {
  color: rgba(8, 0, 47, 0.674);
}

p {
  padding-top: 1px;
  font-size: 1.6vw;
  line-height: .7em;
  max-width: 100%;
  top: 30%;
  width: 25vh;
}

#email,
#address {
  font-size: 1.25vw;
  line-height: 1.3em;
}

#address {
  margin-left: 2%;
  width: 25vh;
}

#email {
  margin-right: 2%;
  text-align: right;
  width: fit-content;
}

h1 {
  font-family: 'Honk', system-ui;
  font-size: 5vw;
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
  text-align: center;
}

.form-title {
  font-size: 30px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

main {
  height: 80vh;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 0;
  font-size: 2vw;
}

h3 {
  font-size: 1.7vw;
  text-align: center;
  width: 100%;
  margin-top: 0;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.friend-header,
.steps-header {
  margin-top: 10px;
  top: 28%;
  font-size: 2.7vw;
}

#friends {
  font-size: 1.8vw;
  line-height: 1.3vw;
}

#steps {
  line-height: 1.2em;
  font-size: 1.5vw;
}

.friend-avg-steps {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3%;
}

.week-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.friend-avg-steps
.week-info {
  height: 32vh;
}

.friends-widget,
.steps-widget {
  width: 24%;
}

.averages-widget {
  box-shadow: 0px 0px 20px 1px #FFFF7D;
  animation: 3s ease-in-out infinite alternate shadow-fade-yellow;
  border: solid #FFFF7D 4px;
  line-height: 1em; 
  width: 45%;
}

#avg-title {
  font-size: 3.2vw;
  margin-top: 0;
  padding-bottom: 25px; 
}

#avgs {
  font-size: 2.3vw;
  width: 80%;
  margin-bottom: 0;
  margin-top: 1%;
}

#hy-title,
#ho-title,
#q-title {
  margin-top: 0;
}

.hydration,
.hours,
.quality {
  width: 31%;
  line-height: 1.2em;
  position: relative;
}

.averages-widget {
  background-color: rgba(8, 0, 47, 0.674);
  border-radius: 15px;
}

header,
.friends-widget,
.hydration,
.user-profile,
.hours,
.steps-widget,
.quality {
  border: solid #ff40af 3px;
  background-color: rgba(8, 0, 47, 0.674);
  border-radius: 15px;
}

header {
  box-shadow: 0px 0px 20px 1px #ff40af69;
  animation: 3s ease-in-out infinite alternate shadow-fade-pink;
}

.friends-widget {
  box-shadow: 0px 0px 20px 1px #ff40af69;
  animation: 3s ease-in-out 5s infinite alternate shadow-fade-pink;
}
  
.hydration {
  box-shadow: 0px 0px 20px 1px #ff40af69;
  animation: 3s ease-in-out 2s infinite alternate shadow-fade-pink;
}

.user-profile {
  box-shadow: 0px 0px 20px 1px #ff40af69;
  animation: 3s ease-in-out 7s infinite alternate shadow-fade-pink;
}

.hours {
  box-shadow: 0px 0px 20px 1px #ff40af69;
  animation: 3s ease-in-out 4s infinite alternate shadow-fade-pink;
}

.steps-widget {
  box-shadow: 0px 0px 20px 1px #ff40af69;
  animation: 3s ease-in-out 3s infinite alternate shadow-fade-pink;
}

.quality {
  box-shadow: 0px 0px 20px 1px #ff40af69;
  animation: 3s ease-in-out 6s infinite alternate shadow-fade-pink;
}

@keyframes shadow-fade-pink {
  0% {
    box-shadow: 0px 0px 20px 1px #ff40af69;
  }
  50% {
    box-shadow: 0px 0px 20px 1px #ff40afb3;
  }
  100% {
    box-shadow: 0px 0px 20px 1px #ff40af;
  }
}

@keyframes shadow-fade-yellow {
  0% {
    box-shadow: 0px 0px 20px 1px #FFFF7D;
  }
  50% {
    box-shadow: 0px 0px 20px 1px #ffff7db0;
  }
  100% {
    box-shadow: 0px 0px 20px 1px #ffff7d68;
  }
}

.week {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 15px;
}

.today-span {
  color: #00EAE0;
  font-weight: bolder; 
}

.hidden {
  display: none;
}

.mode {
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
  top: 0;
}

.graph-icon {
  height: 3vh;
  margin-top: 1vh;
  margin-right: 2vh;
  padding-left: 2vh;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#chart-container {
  width: 80%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure,
canvas {
  /* width: 100% !important;
  height: 100% !important; */
  /* margin-right: 10% !important; */
  /* margin-left: 5% !important;
  margin-right: 10% !important;
  margin-top: -10% !important;
  margin-bottom: 1% !important; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1vh;
  height: 100%;
  margin-right: 5px;
}

.bar-container {
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 4px;
  width: 100%;
  height: 20vh;
}

.bar {
  display: inline-block;
  width: 100%;
  background-color: yellow;
  box-shadow: 0px 0px 20px 1px rgb(234, 255, 0);
}

.day-label {
  font-size: .7em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.step-party-button {
  width: 85%;
  cursor: pointer;
}

@keyframes button-expand {
  0% {
    width: 85%;
  }
  
  100% {
    width: 90%;
  }
}

@keyframes wiggle {
  10% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  40%{
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(5deg);
  }
}

.step-party-button:hover {
  animation: ease-in-out .05s button-expand;
  animation: ease-in-out .35s .05s wiggle;

  width: 90%;
}

.friend-selectors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
}

